Flask==3.0.3
flask-cors==5.0.0
flask-socketio==5.3.7
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
gunicorn==20.1.0
plotly==5.23.0
Werkzeug==3.0.3
numpy==1.24.4
pandas==2.2.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
matplotlib==3.9.2
tensorflow-cpu==2.17.0
spacy==3.7.6
opencv-python==4.10.0.84
h5py==3.11.0
joblib==1.4.2
fuzzywuzzy==0.18.0
