<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Weather Dashboard</title>
</head>
<body>
    <!-- Video Background -->
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='videos/index.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <!-- Main Content -->
    <div class="main-content">
        <!-- Temperature Container -->
        <div class="weather-container">
            <div class="weather-header">
                <div>
                    <h2>{{ weather['location'] }} <span style="font-size: 40px;">&#x1F4CD;</span></h2> <!-- Hiển thị vị trí đã chọn -->
                    <div class="weather-temperature">{{ weather['temperature'] }}°C</div>
                </div>
                <div class="weather-details">
                    <div>Wind speed: {{ weather['windspeed'] }} km/h</div>
                    <div>Day/Night: {{ 'Day' if weather['is_day'] == 1 else 'Night' }}</div>
                    <div>Rain probability: {{ weather['precipitation_probability'] }}%</div>
                </div>
            </div>
        </div>

        <!-- Additional Weather Info Container -->
        <div class="additional-info-container">
            <div class="info-box">
                <div>Cloud Cover (hourly)</div>
                <div>{{ weather['cloud_cover'] }}%</div>
            </div>
            <div class="info-box">
                <div>Shower (hourly)</div>
                <div>{{ weather['showers'] }} mm/h</div>
            </div>
            <div class="info-box">
                <div>Precipitation (hourly)</div>
                <div>{{ weather['precipitation'] }} mm/h</div>
            </div>
            <div class="info-box">
                <div>Humidity (hourly)</div>
                <div>{{ weather['humidity'] }}%</div>
            </div>
        </div>

        <!-- Predicted Precipitation Chart -->
        <div class = "predicted-precipitation-chart-container">
            <h2 style="text-align: center; color: white;">Predicted Precipitation for the Next 14 Days</h2>
            <div class="predicted-precipitation-chart">
                {% if pred_data %}
                <iframe src="/dash/?data={{ pred_data | tojson | safe }}" width="100%" height="500px" style="border:none; background-color: transparent;"></iframe>
                {% else %}
                <iframe src="/dash/" width="100%" height="500px" style="border:none; background-color: transparent;"></iframe>
                {% endif %}
            </div>
        </div>

        <div class= "rain-probability-chart-container">
            <div class="rain-probability-chart">
                <iframe src="/dash_rain_probability/" width="100%" height="600px" style="border:none; background-color: transparent;"></iframe>
            </div> 
            <!-- thay doi src cua iframe sau   -->
            <div class="rain-probability-chart">
                <iframe src="/dash_rain_probability/" width="100%" height="600px" style="border:none; background-color: transparent;"></iframe>
            </div>   
        </div>        
        
    </div>
</body>
</html>
