<!-- backend/templates/landing.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind-landing.css') }}">
    <title>Landing Page</title>
</head>
<body class="bg-gray-800 text-white">
    <div class="background">
        <video autoplay muted loop id="background-video" class="absolute w-auto min-w-full min-h-full max-w-none">
            <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <form method="POST">
            <select name="location" class="btn bg-gray-700 text-white py-2 px-4 rounded">
                <option value="Ho Chi Minh">Ho Chi Minh</option>
                <option value="Hanoi">Hanoi</option>
                <option value="Da Nang">Da Nang</option>
                <option value="Can Tho">Can Tho</option>
                <option value="Nha Trang">Nha Trang</option>
            </select>
            <button type="submit" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Get Started</button>
        </form>   
    </div>
 
</body>
</html>
