<!-- notification_popup.html -->
<div id="notification-popup-container" class="notification-popup">
    <div class="notification-popup-content">
        <span id="notification-close-btn" class="notification-close-btn">&times;</span> <!-- Close Button -->
        <h2>Stay Ahead of the Weather!</h2>
        <p>Be Prepared! Subscribe with your email to receive timely notifications about weather changes and forecasts.</p>
        <form class="notification-form">
            <label for="notification-email" class="notification-email-label">Enter your email for updates!</label>
            <input type="email" id="notification-email" class="notification-email-input" placeholder="Your email address" required>
            <!-- Thay thế SVG bằng hình ảnh -->
            <button type="submit" class="notification-subscribe-btn">
                <img src="{{ url_for('static', filename='images/checkmark.png') }}" alt="Submit" class="checkmark-image">
            </button>
        </form>
    </div>
</div>
