/* backend/static/css/index.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Ngăn cuộn ngang */
}

.background {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Đảm bảo video bao phủ toàn bộ khung hình */
}

.weather-container {
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: white;
    padding: 50px; /* Increase padding for more space inside the container */
    border-radius: 15px; /* Increase border-radius for smoother corners */
    width: 1100px; /* Increase width of the container */
    margin: 30px auto; /* Increase margin for more space around the container */
    text-align: left;
    position: relative; /* Đảm bảo có thể cuộn được */
    z-index: 1; /* Đảm bảo nội dung nằm trên nền video */
}

.weather-header h2 {
    font-size: 40px;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-temperature {
    font-size: 200px; /* Increase font size for temperature */
    font-weight: bold;
    color: #FFA500; /* Orange color for temperature */
}

.weather-details {
    font-size: 30px; /* Increase font size for details */
    line-height: 1.8; /* Slightly increase line height for better readability */
}

/* Additional Weather Info Container */
.additional-info-container {
    background: rgba(112, 112, 112, 0.5); /* Same transparent background as weather-container */
    color: white;
    border-radius: 15px; /* Same border-radius as weather-container */
    width: 1100px; /* Same width as weather-container */
    margin: 20px auto; /* Center the container with similar margins */
    text-align: center; /* Center align text within each box */
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add gap between info-boxes */
}

.info-box {
    background: rgba(0, 0, 0, 0.5); /* Same transparent background as weather-container */
    border-radius: 20px;
    width: 22%; /* Ensure the boxes take up equal width */
    padding: 20px; /* Add padding to the boxes */
}

.info-box div {
    font-size: 30px; /* Font size for the info labels, matching weather-details */
}

/* Mobile screens (less than 768px) */
@media screen and (min-width: 767px) {
    .weather-container,
    .additional-info-container {
        width: 90%;
        padding: 15px;
    }

    .info-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .weather-temperature {
        font-size: 35px;
    }
}
