body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.main-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-top: 50px;
}

/* Weather Container */
.weather-container {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 50px;
    border-radius: 15px;
    width: 1100px;
    margin: 30px auto;
    text-align: left;
    z-index: 1;
    margin-top: 65px;
}

.weather-header h2 {
    font-size: 40px;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-temperature {
    font-size: 70px;
    font-weight: bold;
    color: #FFA500;
}

.weather-details {
    font-size: 30px;
    line-height: 1.8;
}

/* Location Form Styling */
.location-form {
    display: flex;
    align-items: center;
}

.location-select {
    font-size: 40px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.location-select option {
    background-color: black;
    color: white;
}

.get-started-btn {
    font-size: 25px;
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.get-started-btn:hover {
    background-color: #FF8C00;
}

/* Additional Weather Info Container */
.additional-info-container {
    background: rgba(112, 112, 112, 0.5);
    color: white;
    border-radius: 15px;
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.info-box {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 22%;
    padding: 20px;
}

.info-box div {
    font-size: 30px;
}

/* Predicted Precipitation Chart */
.predicted-precipitation-chart {
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
}

.predicted-precipitation-chart-container {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 50px;
    border-radius: 15px;
    width: 1100px;
    margin: 30px auto;
    text-align: left;
    z-index: 1;
}

.rain-probability-chart-container {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
}

.rain-probability-chart {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #898484b5;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

.navbar-links a:hover {
    background-color: #333;
    border-radius: 5px;
}
